<div class="container mt-5 align-items-center">
    <div  class="row">
        <div class="col-auto">
            <form [formGroup]="otpform" (ngSubmit)="verifyOtp()"
                class="form-inline d-flex justify-content-center align-items-center">
                <div class="form-group mx-sm-3 ">
                    <!-- <label for="otp" class="form-label sr-only">Enter OTP</label> -->
                    <input type="number" name="otp" placeholder="Enter OTP" formControlName="otp" id="otp" class="form-control"
                        required>
                </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Verify OTP">
                        </div>
                        
                        </form>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="requestOtp()">Resend OTP</button>

        </div>

        
    </div>
</div>