<div class="container mt-5 justify-content-center">
    <nav class="navbar ">
        <div class="container">
            <a class="navbar-brand text-dark text-center" href="#"><i class="bi bi-newspaper"></i> Post</a>
        </div>
    </nav>
    <div class="row p-0 m-0">
        <div class="card p-0  border-dark  mt-3 mb-3 post">
            <div class="card-header text-dark bg-info-subtle">
                <div class="row">
                    <div class="col-auto">
                        <a [routerLink]="'/user/'+post.author.id">
                            <img [src]="'data:image/png;base64'+','+post.author.image" class="img-fluid rounded-circle" alt="avatar" height="50"
                                width="50">
                            </a>
                            </div>
                            <div class="col-auto">
                                <b>
                                    {{post.author.name}}
                                </b>
                                <br>
                                {{formatDate(post.createdAt)}}
                            </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.content}}</p>
                <hr>
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <i class="bi pt-2" [ngClass]="{ 'bi-heart': !isPostLiked(), 'bi-heart-fill text-danger': isPostLiked() }"
                            (click)="likePost(post.id)"></i>
                        <p class="btn m-1 p-0" data-bs-toggle="modal" [attr.data-bs-target]="'#likesModal'+post.id">{{post.likes.length}}</p>
                
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <i class="bi bi-chat-left-text pt-2"></i>
                        <p class="m-1">{{commentCount}}</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="row p-0 m-0">
                        <app-comment-form class="p-0 m-0" [postDetails]="postDetails"></app-comment-form>
    </div>
<div class="modal fade" [id]="'likesModal'+post.id" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="likesModalLabel"><i class="bi bi-heart-fill text-danger"></i> Liked By
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let user of likedByUser">
                    <div class="row">
                        <div class="col-1">
                            <img class=" rounded-circle" [src]="'data:image/png;base64'+','+user.image" alt=""
                                height="30" width="30">
                        </div>
                        <div class="col-11">
                            <p class="h6 ms-1 p-1">{{user.name}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="loading">
                                                                        <div class="text-center">
                                                                            <div class="spinner-border text-dark" role="status">
                                                                                <span class="visually-hidden">Loading...</span>
                                                                            </div>
                                                                            <h3>Loading Likes...</h3>
                                                                        </div>
                                                                    </div> -->
            </div>
        </div>
    </div>
</div>

</div>