<div class="row flex-row">
    <div class="col-1 d-flex p-1 justify-content-center">
        <span class="bg-white border border-0 "><img class=" rounded-circle"
                [src]="'data:image/png;base64'+','+authorImage" alt="" height="35" width="35"></span>
    </div>
    <div class="col-11 p-1 ">
        <app-text-input [placeholder]="'Write a comment...'" [actionTitle]="'Comment'" [pickerPosition]="'bottom'" (submission)="submitComment($event)"></app-text-input>    
    </div>
</div>
<app-comment-feed [postId]="post.id" [commentPage]="postDetails.comments"></app-comment-feed>