<nav class="navbar navbar-expand-lg bg-body-secondary sticky-top">
    <div class="container-fluid">
        <div class="navbar-brand text-dark">
            <div class="col-1">
                <h2 class="d-none d-lg-block">App</h2>
            </div>
            <div class="col-1">
                <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar"><i
                        class="bi bi-window-sidebar"></i>
                    <i class="bi bi-chevron-right"></i>App</button>
            </div>
        </div>
        <ul class="navbar-nav">
            <div *ngIf="(!loginService.isAuthenticated() && loginService.getLoggedUser() == null)"
                class="d-flex flex-row">
                <li class="nav-item p-1">
                    <a class="nav-link text-dark" href="/login">Login</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link text-dark" href="/register">Register</a>
                </li>
            </div>
            <div *ngIf="(loginService.isAuthenticated() && loginService.getLoggedUser() != null) && loginService.getLoggedUser().name !== null"
                class="d-flex flex-row mt-2">
                <li class="nav-item p-1">
                    <a [routerLink]="'/user/'+loginService.getLoggedUser().id">
                        <p class="nav-link text-dark"><i class="bi bi-person-circle"></i> Welcome
                            {{loginService.getLoggedUser().name}}</p>
                            </a>
                </li>
            </div>
        </ul>
    </div>
</nav>