<div class="container">
    <div id="chat-page">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Chat With {{webSocketService.receiverUsername}} </h2>
            </div>
            <ul id="messageArea">
                <app-message></app-message>
            </ul>
            <form (ngSubmit)="send(messageForm.value.message)" [formGroup]="messageForm" id="messageForm"
                name="messageForm" nameForm="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type your message..." autocomplete="off"
                            class="form-control" formControlName="message" />
                        <button type="submit" class="btn btn-dark"><i class="bi bi-send"></i> Send</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>