<div class = "container-sm mt-5 d-flex-reverse align-items-center">
    <div class="login-box container">
        <h2>Login</h2>
          
        
          <div *ngIf="loginError" type="danger" class="alert alert-danger mt-3" role="alert">
            Bad Credentials
          </div>
      
        <form [formGroup] ="loginform" (ngSubmit)="loginUser()">
            <small class="text-danger">{{msg}}</small>
            <div class="form-group mt-3 ">
              <label for="email" class="form-label">Email</label>
              <br>
              <input type="text" name="email" id="email" title="Enter valid email" placeholder="Enter email" class="form-control " [(ngModel)]="user.email" formControlName="email" required
                    [disabled]="otpRequired">
              
              <!-- <span style="color:red;" *ngIf="emailVal && emailVal.touched">Enter a valid email</span> -->
              <br>
            </div>
      
            <div class="form-group mt-3">
            <label for="password" class="form-label">Password</label>
            <br>
            <input type="password" title="Enter valid password" placeholder="Enter password" class="form-control" [(ngModel)]="user.password" name="password" formControlName="password"
            [disabled]="otpRequired" required>
            
            <span style="color:red;" *ngIf="passVal && passVal.invalid && passVal.touched">Enter a valid password</span>
        </div>
        <br>
          <div *ngIf = "!otpRequired" class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-dark">Login</button>
            </div>
          </div>
          <a *ngIf="!otpRequired" style="text-decoration: underline; margin-left: 215px;" [routerLink]="['/register']">New User? Register Here</a>
      
          <!-- <input *ngIf="otpRequired" type="submit" class="btn btn-success mt-5" value="Login"> -->
        </form>
      </div>

      <div *ngIf="loginSuccess" class="alert alert-success mt-3" role="alert">
        Credentials Matched, an OTP has been sent to your mail. Please enter OTP to verify user!
      </div>
      <div *ngIf = "otpSent" class="row">
        <app-otp [userEmail]="email"></app-otp>
      </div>
      <div *ngIf="!otpRequired">
        <button (click)="loginWithGoogle()">Login With Google</button>
      </div>
      
</div>
    
        