<div class="container">
    <div class="row">
        <div class="col-1 d-flex justify-content-center">
            <img class=" rounded-circle border border-secondary border-3" [src]="'data:image/png;base64'+','+user.image" alt=""
                height="50" width="50">
        </div>
        <div class="col-11">
            <form [formGroup]="postForm" (ngSubmit)="submitPost()">
                <textarea class="form-control mb-3" id="content" formControlName="content" rows="4"
                    placeholder="Whats on your mind..."></textarea>
                <div *ngIf="content?.invalid && (content?.dirty)" class="text-danger">
                    <div *ngIf="content?.errors?.['required']">Content is required.</div>
                </div>
                <button type="submit" class="btn text-dark bg-info-subtle" [disabled]="!postForm.valid"><i class="bi bi-newspaper"></i> Create Post</button>
            </form>
        </div>
    </div>

</div>