<div class="container">
    <div class="row">
        <div class="col-1 d-flex justify-content-center">
            <img class=" rounded-circle border border-secondary border-3" [src]="'data:image/png;base64'+','+user.image" alt=""
                height="50" width="50">
        </div>
        <div class="col-11">
            <app-text-input [actionTitle]="'Create Post'" [size]="'lg'" [placeholder]="'Whats on your mind...'" [pickerPosition]="'bottom'" (submission)="submitPost($event)"></app-text-input>
        </div>
    </div>

</div>