<div class="container mt-4">
    <div class="h5">Users</div>
    <div class="user-list" *ngFor="let user of users">
        <div *ngIf="!isCurrentUser(user)" class="card" (click)="changeReceiver(user)"
            [ngClass]="{'active' : isCurrentReceiver(user)}">
            <div class="card-body">
                <p>{{user.name}}</p>
                <span class="badge"
                    [ngClass]="isUserActive(user)? 'text-bg-success'  : 'text-bg-secondary'">{{user.status}}</span>
                </div>
        </div>
    </div>
</div>