/* .post {
    max-width: 50%;
}

@media (max-width : 768px) {
    .post {
        max-width: 100%;
    }
} */
.scrollable {
    overflow-y: scroll;
    max-height: calc(100vh - 150px);
}

body {
    overflow-x: hidden;
}