/* .post {
    max-width: 50%;
}

@media (max-width : 768px) {
    .post {
        max-width: 100%;
    }
} */
.scrollable {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

.scrollable-sm{
    overflow-y: auto;
    max-height: 80vh;
    height: 80vh;
}

body {
    overflow-x: hidden;
}